/*
    Created on : 2016.03.05.
    Author     : Horváth Norbert
    Description:
        Chat
*/

@import "_utility.scss";

.chat-outer-container {
    padding: 10px;
}

.status {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
}

aside.online {
    float: left;
    width: 200px;
    background-color: #eeeeee;

    ul {
        list-style-type: none;
        margin: 0 0 10px 0;
        padding: 0;

        li {
            padding: 0;

            &.self {
                border-bottom: 2px solid #ffffff;

                label {
                    padding: 10px;
                    height: 40px;
                    cursor: default;

                    &:hover {
                        background-color: inherit;
                    }

                    .status-change {
                        float: right;
                        width: 80px;
                    }
                }
            }

            label {
                display: block;
                padding: 5px 10px;
                width: 100%;
                height: 28px;
                cursor: pointer;

                &:hover {
                    background-color: #dddddd;
                }

                .idle-timer {
                    float: right;
                }
            }

            .status {
                top: 2px;
                margin: 0 7px 0 0;
            }

            input {
                display: inline-block;
                position: relative;
                top: 2px;
                margin: 0 10px 0 0;
            }
        }
    }

    button.start {
        margin: 10px;
        font-weight: bold;
    }
}

.chat-container {
    position: relative;
    margin-left: 205px;
    height: 500px;

    .chat {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0;
        width: 300px;
        height: 500px;
        border: 1px solid #9d9d9d;
        background-color: #ffffff;

        &.cloneable {
            display: none;
        }

        &.notification {
            outline : 2px dashed red;
        }

        .system-message {
            position: absolute;
            left: 3px;
            top: 3px;
            z-index: 1;
            width: 93%;

            .local-notification {
                position: relative;
                margin: 2px 0;
                padding: 5px;
                border-radius: 7px;
                min-height: 30px;
                background-color: #eeeeee;
                cursor: pointer;

                .arrow {
                    position: absolute;
                    top: 6px;
                    width: 16px;
                    height: 16px;
                    fill: #17b800;
                }
                .arrow-left {
                    left: 4px;
                }
                .arrow-right {
                    right: 4px;
                }
                .text {
                    display: block;
                    margin: 0 auto;
                    width: 80%;
                    color: #777777;
                }
            }

            .error {
                position: relative;
                margin: 2px 0;
                padding: 5px;
                border-radius: 7px;
                min-height: 30px;
                overflow: hidden;
                //box-shadow: 2px 2px 5px 1px #aa0000;
                background-color: #aa0000;
                color: #ffffff;

                .error-list {
                    float: left;
                    width: 80%;
                }

                .error-close {
                    width: 12px;
                    height: 12px;
                    fill: #ffffff;
                    margin: 5px;
                    float: right;
                    cursor: pointer;

                    &:hover {
                        fill: #000000;
                    }
                }
            }

            .progress {
                position: relative;
                margin: 2px 0;
                padding: 5px;
                border-radius: 7px;
                min-height: 30px;
                background-color: #eeeeee;

                .icon {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    width: 20px;
                    height: 20px;
                    fill: #067fbc;
                    animation: spin 1s linear infinite;
                }

                .text {
                    padding: 0 0 0 30px;
                }
            }

        }

        .border-top,
        .border-bottom {
            position: relative;
            flex: 0 0 12px;
            overflow: hidden;
            background-color: #eeeeee;
            text-align: center;
            line-height: 100%;

            .move {
                display: inline-block;
                width: 30%;
                height: 100%;
                background: {
                    image: url("../images/move.svg");
                    repeat: repeat;
                    position: 0 1px;
                }
                cursor: -webkit-grab;
                cursor: grab;

                &:active {
                    cursor: -webkit-grabbing;
                    cursor: grabbing;
                }
            }

            .resize {
                width: 12px;
                height: 100%;
                background: {
                    image: url("../images/resize.svg");
                    repeat: no-repeat;
                }

                &.resize-lt {
                    float: left;
                    transform: rotate(0deg);
                    cursor: nw-resize;
                }

                &.resize-rt {
                    float: right;
                    transform: rotate(90deg);
                    cursor: ne-resize;
                }

                &.resize-lb {
                    float: left;
                    transform: rotate(-90deg);
                    cursor: sw-resize;
                }

                &.resize-rb {
                    float: right;
                    transform: rotate(180deg);
                    cursor: se-resize;
                }
            }

        }

        .bar {
            position: relative;
            flex: 0 0 30px;
            background-color: #cccccc;
            line-height: 100%;

            .users {
                display: inline-block;
                width: 260px;
                overflow: hidden;
                white-space: nowrap;
                cursor: ew-resize;
            }

            .user-item:not(.cloneable) {
                display: inline-block;
                padding: 5px;

                .status {
                    top: 2px;
                }

                .throw {
                    position: relative;
                    top: 2px;
                    width: 13px;
                    height: 13px;
                    fill: #000000;
                    cursor: pointer;

                    &:hover {
                        fill: #ff0000;
                    }

                    &[data-disabled] {
                        fill: #aaaaaa;
                    }
                }
            }

            .close {
                margin: 5px;
                float: right;
                width: 20px;
                height: 20px;
                fill: #ffffff;
                cursor: pointer;

                &:hover {
                    fill: #ff0000;
                }
            }

            .add-user {
                position: absolute;
                right: 18px;
                top: 32px;
                z-index: 2;
            }
        }

        .form {
            position: relative;
            flex: 0 0 135px;

            .textarea {
                display: block;
                border: 1px solid #888888;
                border-left-width: 0;
                border-right-width: 0;
                padding: 10px;
                height: 60px;
                width: 100%;
                outline: none;
                resize: vertical;
            }

            .indicator {
                margin: 5px 0;
                padding: 3px 6px;
                height: 20px;
                color: #999999;
            }

            .fileuploader {
                position: absolute;
                top: 6px;
                right: 3px;

                input {
                    display: none;
                }

                .trigger {
                    width: 20px;
                    height: 20px;
                    opacity: 0.7;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }

                    &[data-disabled] {
                        opacity: 0.5;
                    }
                }
            }

            .submitmode {
                padding: 10px 10px 15px 10px;

                button {
                    float: right;
                    font-weight: bold;
                }
            }
        }

        .list-area {
            display: flex;
            flex-direction: column;
            position: relative;
            flex: 1 1 auto;

            .drop-file {
                display: none;
                position: absolute;
                z-index: 1;
                margin: 0;
                border: 7px dashed #aaaaaa;
                padding-top: 40%;
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: rgba(200, 200, 200, 0.8);
                color: #666666;
                font : {
                    size : 20px;
                    weight: bold;
                }
                //pointer-events: none;

                &.drop-active {
                    display: block;
                }

                &.drop-highlight {
                    border-color: rgba(255, 120, 120, 1);
                    background-color: rgba(229, 173, 173, 0.9);
                }
            }

            .list {
                list-style-type: none;
                margin: 0;
                padding: 0;
                flex: 1 1 1px;
                overflow-y: scroll;

                li {
                    padding: 5px 10px;

                    &.highlighted {
                        color: red;
                        font-weight: bold;
                    }

                    .self {
                        color: #ff0000;
                    }

                    .time {
                        float: right;
                        margin: 0 0 0 20px;
                        color: #aaaaaa;
                    }

                    .send-image {
                        max-width: 100%;
                        max-height: 120px;
                    }

                    .progressbar {
                        position: relative;

                        .label {
                            display: block;
                        }

                        .cancel {
                            width: 13px;
                            height: 13px;
                            fill: #ff0000;
                            position: absolute;
                            right: 0;
                            top: 0;
                            cursor: pointer;

                            &:hover {
                                fill: #000000;
                            }
                        }

                        .linecontainer {
                            display: inline-block;
                            padding: 1px;
                            width: 220px;
                            height: 10px;
                            border: 1px solid #000000;

                            .line {
                                display: inline-block;
                                float: left;
                                height: 6px;
                                background-color: #009eff;

                                &.finished {
                                    background-color: #029500;
                                }

                                &.aborted {
                                    background-color: #e10000;
                                }
                            }
                        }

                        .numeric {
                            display: inline-block;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
