/*
    Created on : 2016.03.05.
    Author     : Horváth Norbert
    Description:
        Chat
*/

@import "_utility.scss";

.chat-outer-container {
    position: relative;
    padding: 10px;

    .global-error {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        padding: 5px;
        border-radius: 7px;
        min-height: 30px;
        overflow: hidden;
        background-color: #aa0000;
        color: #ffffff;

        .error-list {
            float: left;
            width: 80%;
        }

        .error-close {
            width: 12px;
            height: 12px;
            fill: #ffffff;
            margin: 5px;
            float: right;
            cursor: pointer;

            &:hover {
                fill: #000000;
            }
        }
    }
}

.status {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
}

aside.online {
    float: left;
    width: 200px;
    background-color: #eeeeee;

    ul {
        list-style-type: none;
        margin: 0 0 10px 0;
        padding: 0;

        li {
            padding: 0;

            &.self {
                border-bottom: 2px solid #ffffff;

                label {
                    padding: 10px;
                    height: 40px;
                    cursor: default;

                    &:hover {
                        background-color: inherit;
                    }

                    .status-change {
                        float: right;
                        width: 80px;
                    }
                }
            }

            label {
                display: block;
                padding: 5px 10px;
                width: 100%;
                height: 28px;
                cursor: pointer;

                &:hover {
                    background-color: #dddddd;
                }

                .name {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0;
                    width: 70px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .idle-timer {
                    float: right;
                    vertical-align: middle;
                }
            }

            .status {
                top: 2px;
                margin: 0 7px 0 0;
            }

            input {
                display: inline-block;
                position: relative;
                top: 2px;
                margin: 0 10px 0 0;
            }
        }
    }

    button.start {
        margin: 10px;
        font-weight: bold;
    }
}

.chat-container {
    position: relative;
    margin-left: 205px;
    height: 500px;

    .chat {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0;
        // width: 300px;  // javascript állítja be
        // height: 500px; // javascript állítja be
        border: 1px solid #9d9d9d;
        background-color: #ffffff;

        &.cloneable {
            display: none;
        }

        &.notification {
            outline : 2px dashed red;
        }

        .system-message {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            padding: 3px 20px 0 3px;
            width: 100%;

            .local-notification {
                position: relative;
                margin: 2px 0;
                padding: 5px;
                border-radius: 7px;
                min-height: 30px;
                background-color: #eeeeee;
                cursor: pointer;

                .arrow {
                    position: absolute;
                    top: 6px;
                    width: 16px;
                    height: 16px;
                    fill: #17b800;
                }
                .arrow-left {
                    left: 4px;
                }
                .arrow-right {
                    right: 4px;
                }
                .text {
                    display: block;
                    margin: 0 auto;
                    width: 80%;
                    text-align: center;
                    color: #777777;
                }
            }

            .error {
                position: relative;
                margin: 2px 0;
                padding: 5px;
                border-radius: 7px;
                min-height: 30px;
                overflow: hidden;
                //box-shadow: 2px 2px 5px 1px #aa0000;
                background-color: #aa0000;
                color: #ffffff;

                .error-list {
                    float: left;
                    width: 80%;
                }

                .error-close {
                    width: 12px;
                    height: 12px;
                    fill: #ffffff;
                    margin: 5px;
                    float: right;
                    cursor: pointer;

                    &:hover {
                        fill: #000000;
                    }
                }
            }

            .progress {
                position: relative;
                margin: 2px 0;
                padding: 5px;
                border-radius: 7px;
                min-height: 30px;
                background-color: #eeeeee;

                .icon {
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    width: 20px;
                    height: 20px;
                    fill: #067fbc;
                    animation: spin 1s linear infinite;
                }

                .text {
                    padding: 0 0 0 30px;
                }
            }

        }

        .border-top,
        .border-bottom {
            position: relative;
            flex: 0 0 12px;
            overflow: hidden;
            background-color: #eeeeee;
            text-align: center;
            line-height: 100%;

            .move {
                display: inline-block;
                width: 30%;
                height: 100%;
                background: {
                    image: url("../images/move.svg");
                    repeat: repeat;
                    position: 0 1px;
                }
                cursor: -webkit-grab;
                cursor: grab;

                &:active {
                    cursor: -webkit-grabbing;
                    cursor: grabbing;
                }
            }

            .drag-resize {
                display: inline-block;
                width: 12px;
                height: 100%;
                background: {
                    image: url("../images/resize.svg");
                    repeat: no-repeat;
                }

                &.resize-lt {
                    float: left;
                    transform: rotate(0deg);
                    cursor: nw-resize;
                }

                &.resize-rt {
                    float: right;
                    transform: rotate(90deg);
                    cursor: ne-resize;
                }

                &.resize-lb {
                    float: left;
                    transform: rotate(-90deg);
                    cursor: sw-resize;
                }

                &.resize-rb {
                    float: right;
                    transform: rotate(180deg);
                    cursor: se-resize;
                }
            }

        }

        .bar {
            position: relative;
            flex: 0 0 30px;
            background-color: #cccccc;
            line-height: 100%;

            //.users {
            //    display: inline-block;
            //    width: 260px;
            //    overflow: hidden;
            //    white-space: nowrap;
            //    cursor: ew-resize;
            //}

            .users {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;

                .user-item:not(.cloneable) {
                    display: block;
                    padding: 5px;
                    width: 150px;
                    height: 30px;
                    background-color: #dedede;

                    &.current {
                        cursor: pointer;
                    }

                    .status {
                        top: 2px;
                    }

                    .name {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 5px 0 2px;
                        width: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .dropdown {
                        float: right;
                        position: relative;
                        top: 2px;
                        width: 13px;
                        height: 13px;
                        fill: #000000;

                        &.active {
                            transform: rotate(180deg);
                        }

                        &[data-disabled] {
                            fill: #aaaaaa;
                        }
                    }

                    .throw {
                        float: right;
                        position: relative;
                        top: 2px;
                        width: 13px;
                        height: 13px;
                        fill: #000000;
                        cursor: pointer;

                        &:hover {
                            fill: #ff0000;
                        }

                        &[data-disabled] {
                            fill: #aaaaaa;
                        }
                    }
                }
            }

            .window-icon {
                float: right;
                margin: 5px;
                width: 20px;
                height: 20px;
                fill: #000000;
                stroke: #000000;
                cursor: pointer;

                &:hover {
                    fill: #ff0000;
                    stroke: #ff0000;
                }
            }

            .click-resize {

                ul.actions {
                    display: none;
                    position: absolute;
                    right: 30px;
                    top: 30px;
                    z-index: 1;
                    list-style-type: none;
                    margin: 0;
                    padding: 5px 0;
                    width: 150px;
                    background-color: #dedede;

                    &.active {
                        display: block;
                    }

                    li {
                        padding: 5px;
                        cursor: pointer;

                        &:hover {
                            background-color: #b9b9b9;
                        }
                    }
                }
            }

            .add-user {
                position: absolute;
                right: 18px;
                top: 32px;
                z-index: 2;
            }
        }

        .form {
            position: relative;
            flex: 0 0 135px;

            .textarea {
                display: block;
                border: 1px solid #888888;
                border-left-width: 0;
                border-right-width: 0;
                padding: 10px;
                height: 60px;
                width: 100%;
                outline: none;
                resize: none;
            }

            .indicator {
                margin: 5px 0;
                padding: 3px 6px;
                height: 20px;
                color: #999999;
            }

            .fileuploader {
                position: absolute;
                top: 6px;
                right: 3px;

                input {
                    display: none;
                }

                .trigger {
                    width: 20px;
                    height: 20px;
                    opacity: 0.7;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }

                    &[data-disabled] {
                        opacity: 0.5;
                    }
                }
            }

            .image-replacement {
                position: absolute;
                top: 6px;
                right: 30px;

                .smiley {
                    width: 21px;
                    height: 21px;
                    opacity: 0.7;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }

                ul.images {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 25px;
                    z-index: 1;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    width: 112px;
                    background-color: #dedede;
                    font-size: 0;

                    &.active {
                        display: block;
                    }

                    li {
                        display: inline-block;
                        border: 1px solid transparent;
                        padding: 6px;
                        width: 28px;
                        height: 28px;
                        text-align: center;
                        vertical-align: top;
                        cursor: pointer;

                        &:hover {
                            border: 1px solid #000000;
                            background-color: #b9b9b9;
                        }
                    }
                }
            }

            .submitmode {
                padding: 10px 10px 15px 10px;

                button {
                    float: right;
                    font-weight: bold;
                }
            }
        }

        .list-area {
            display: flex;
            flex-direction: column;
            position: relative;
            flex: 1 1 auto;

            .drop-file {
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: 1;
                margin: 0;
                border: 7px dashed #aaaaaa;
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: rgba(200, 200, 200, 0.8);
                color: #666666;
                font : {
                    size : 20px;
                    weight: bold;
                }
                //pointer-events: none;

                &.drop-active {
                    display: flex;
                }

                &.drop-highlight {
                    border-color: rgba(255, 120, 120, 1);
                    background-color: rgba(229, 173, 173, 0.9);
                }
            }

            .list {
                list-style-type: none;
                margin: 0;
                padding: 0;
                flex: 1 1 1px;
                overflow-y: scroll;

                li {
                    padding: 5px 10px;

                    &.highlighted {
                        color: red;
                        font-weight: bold;
                    }

                    .self {
                        color: #ff0000;
                    }

                    .time {
                        float: right;
                        margin: 0 0 0 20px;
                        color: #aaaaaa;
                    }

                    .send-image {
                        max-width: 100%;
                        max-height: 120px;
                    }

                    .progressbar {
                        position: relative;
                        max-width: 350px;

                        .label {
                            display: block;
                        }

                        .cancel {
                            width: 13px;
                            height: 13px;
                            fill: #ff0000;
                            position: absolute;
                            right: 0;
                            top: 0;
                            cursor: pointer;

                            &:hover {
                                fill: #000000;
                            }
                        }

                        .current-value {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .linecontainer {
                                flex: 1 1 80%;
                                display: inline-block;
                                padding: 1px;
                                height: 10px;
                                border: 1px solid #000000;

                                .line {
                                    display: inline-block;
                                    float: left;
                                    height: 6px;
                                    background-color: #009eff;

                                    &.finished {
                                        background-color: #029500;
                                    }

                                    &.aborted {
                                        background-color: #e10000;
                                    }
                                }
                            }

                            .numeric {
                                flex: 0 0 auto;
                                display: inline-block;
                                margin-left: 5px;
                            }
                        }
                    }

                    .filedisplay {

                        .image { }

                        .file {
                            display: table-row;

                            .filetype {
                                display: table-cell;
                                width: 55px;
                                height: 70px;
                                background: url("../images/filetypes.png") no-repeat;

                                &.filetype-image { background-position:    0      0;   }
                                &.filetype-text  { background-position:  -55px    0;   }
                                &.filetype-pdf   { background-position: -110px    0;   }
                                &.filetype-doc   { background-position: -165px    0;   }
                                &.filetype-xls   { background-position: -220px    0;   }
                                &.filetype-ppt   { background-position: -275px    0;   }
                                &.filetype-zip   { background-position:    0    -70px; }
                                &.filetype-audio { background-position:  -55px  -70px; }
                                &.filetype-video { background-position: -110px  -70px; }
                                &.filetype-code  { background-position: -165px  -70px; }
                                &.filetype-exec  { background-position: -220px  -70px; }
                                &.filetype-file  { background-position: -275px  -70px; }
                            }
                            .text {
                                display: table-cell;
                                padding: 0 0 0 10px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}
