/*
    Created on : 2016.03.05.
    Author     : Horváth Norbert
    Description:
        Chat
*/

@import "_utility.scss";

.container {
    min-height: 250px;
}

video {
    max-width: 100%;
    width: 320px;
}
