.filetype-image,
.filetype-text,
.filetype-pdf,
.filetype-doc,
.filetype-xls,
.filetype-ppt,
.filetype-zip,
.filetype-audio,
.filetype-video,
.filetype-code,
.filetype-exec,
.filetype-file {
    width: 55px;
    height: 70px;
    background: url("sprites.png") no-repeat;
}

.filetype-image { background-position:    0      0;   }
.filetype-text  { background-position:  -55px    0;   }
.filetype-pdf   { background-position: -110px    0;   }
.filetype-doc   { background-position: -165px    0;   }
.filetype-xls   { background-position: -220px    0;   }
.filetype-ppt   { background-position: -275px    0;   }
.filetype-zip   { background-position:    0    -70px; }
.filetype-audio { background-position:  -55px  -70px; }
.filetype-video { background-position: -110px  -70px; }
.filetype-code  { background-position: -165px  -70px; }
.filetype-exec  { background-position: -220px  -70px; }
.filetype-file  { background-position: -275px  -70px; }
