<section class="preroom">
    <h2>DB</h2>
    <div class="list">
        <h3>Felhasználók:</h3>
        <% users.forEach(function(element){ %>
            <% for (let i in element){ %>
                <%- i %>: <%- element[i] %><br />
            <% } %>
            <hr />
        <% }); %>
        <h3>Üzenetek:</h3>
        Ez most nincs kiíratva...
        <% /* %>
        <% messages.forEach(function(element){ %>
            <% for (let i in element){ %>
                <%- i %>: <%- element[i] %><br />
            <% } %>
            <hr />
        <% }); %>
        <% */ %>
    </div>
</section>
