<div style="margin: 20px 0;">
    <% if (login){ %>
        <div id="videochat-container">

            <!--
            <video id="webcam-local" autoplay muted></video>
            <video id="webcam-remote" autoplay></video>
            -->

            <button id="btn-open-room">Open Room</button>
            <button id="btn-join-room">Join Room</button>
            <hr />
            <div id="webcam"></div>

        </div>

    <% }else{ %>
        Jelentkezz be!
    <% } %>
</div>
