<div style="margin: 20px 0;">
    <% if (login){ %>
        <div id="videochat-container">

            <video id="localVideo" autoplay muted></video>
            <video id="remoteVideo" autoplay></video>

        </div>

    <% }else{ %>
        Jelentkezz be!
    <% } %>
</div>
